 <%= form_tag("/search/comments", method: "get") do %>
 	<%= label_tag(:query, "Search Comments:") %>
 	<%= search_field(:query, :comments) %>
 	<%= submit_tag("Search") %>
 <% end %>

 <ul>
 <% @comments.each do |comment| %>
 	<li><%= comment.text %> <%= link_to("view", comment) %></li>
 <% end %>
</ul>